{erl_opts, [debug_info
           ,{i, "./_build/default/plugins/gpb/include"}]}.
{plugins, [gpb,
           rebar3_gpb_plugin,
           {msg_pack, {git, "https://github.com/Macu1/rbabc.git",{branch, "master"}}}
          ]}.
{deps, []}.

{gpb_opts,[{i,"proto"}
          ,{o_erl,"src/proto"}
          ,{o_hrl,"include"}
          ,{module_name_suffix, ""}
          ,{module_name_prefix,""}
          ,{strings_as_binaries, true}
          ,type_specs
          ]}.

{pack_config, [{router_module,"route"}
               ,{router_enum, "mod_list"}
               ,{o_erl, "src/proto"}
               ,{mod_enum, "tag_map"}
               ,{module_name_suffix, ""}
               ,{module_name_prefix,""}
              ]}.
{provider_hooks, [{pre, [
                         {compile, {protobuf, clean}},
                         {compile, {protobuf, compile}},
                         {compile, msg_pack},
                         {clean, {protobuf, clean}}
                        ]}
                 ]}.
