{description, "msg pack template"}.
{variables,
    [{router_module,"","Name of protobuf module to get type specs from"}
    ,{commands,[],"List of methods for service"}
    ]}.
{template, "msg_pack_sample.erl","{{out_dir}}/{{pp}}.erl"}.
